<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.androidtown.sijang">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB9UIOtH-mMLGV_IuTCat6EECxrcFejqgY" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".MainActivity" />
        <activity android:name=".ChangeActivity" />
        <activity android:name=".FoodMenuList" />
        <activity android:name=".MarketInfo" />
        <activity android:name=".ReviewList" />
        <activity
            android:name=".MenuInfo"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".SearchFoodMenuList" />
        <activity android:name=".MarketMainList" />
        <activity android:name=".ReviewListSort" />
        <activity
            android:name=".FirstMainActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="sijangin"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".FireActivity" />
        <activity android:name=".Bbs" />
        <activity android:name=".ListAdapter" />
        <activity android:name=".Fire2Activity" />
        <activity android:name=".MainReviewList_Adapter" />
        <activity android:name=".Review_Write"/>
        <activity android:name=".Review_Write2"/>
    </application>

</manifest>